<!DOCTYPE html>
<html>
    <head>
        <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-paper.min.css">
        {% block css %}
        {% endblock %}
        {% block title %}
            <title>{{ title }}</title>
        {% endblock %}
        <style>

            .chart rect {
              fill: steelblue;
            }

            .chart text {
              fill: white;
              font: 10px sans-serif;
              text-anchor: middle;
            }

</style>
    </head>

    <body>
        {% block nav %}
        <ul class="nav nav-tabs">
            <li role="presentation">Index</li>
            <li role="presentation">Play game</li>
            <li role="presentation">About</li>
        </ul>
        {% endblock %}

        
        {% block content %}{% endblock %}
        
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{{STATIC_URL}}/js/vendor/jquery.cookie.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react-with-addons.js"></script>
        
        {% block javascript %}{% endblock %}

    </body>

</html>